<!DOCTYPE html>
<html lang="pl">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'images/papaya.png' %}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <title>PapayaRentCar | {% block title %}Strona główna{% endblock %}</title>
</head>
<body>
    <header>
        <div class="header-top">
            <nav class="log">
                {% if user.is_authenticated %}
                    <!-- Jeśli użytkownik jest zalogowany -->
                    <li> <a href="{% url 'users:profile' %}" class="user-profile">{{ user.username }}</a></li>
                    <li><a href="{% url 'orders:cart' %}">Koszyk</a></li>
                    <li><a href="{% url 'users:logout' %}">Wyloguj się</a></li>
                {% else %}
                    <!-- Jeśli użytkownik nie jest zalogowany -->
                    <li><a href="{% url 'users:login' %}" class="auth-link">Logowanie</a> <span></span></li>
                    <li><a href="{% url 'users:register' %}" class="auth-link">Rejestracja</a></li>
                {% endif %}
            </nav>
        </div>
        <div class="header-main">
            <h1><a href="/"><img src="{% static 'images/papaya-logo.png' %}" alt="Opis zdjęcia">Papaya<span>Rent</span>Car</a></h1>
            <nav>
                <a href="/">Strona główna</a> <span> </span>
                <a href="{% url 'cars:all_cars' %}">Nasze samochody</a> <span> </span>
                <a href="{% url 'cars:category_list' %}">Kategorie</a> <span> </span>
                <a href="/contact/">Kontakt</a>
            </nav>
        </div>
    </header>

    <section class="main-content">
        {% block content %}
        <!-- Tutaj pojawi się zawartość z innych stron -->
        {% endblock %}
    </section>

    <footer>
        <p>© Karolina Cieniawska ● 14690 ● 2025 ●</p>
        <p>Projekt wykonany na potrzeby przedmiotu "Architektura oprogramowania" na Akademii Nauk Stosowanych w Nowym Targu</p>
    </footer>
</body>
</html>
