{% extends 'base.html.jinja' %}

{% block content %}
<h1>Twój koszyk</h1>

{% if cart %}
    <div class="cart-table-wrapper">
        <table class="cart-table">
            <thead>
                <tr>
                    <th>Samochód</th>
                    <th>Data rozpoczęcia</th>
                    <th>Data zakończenia</th>
                    <th>Liczba dni</th>
                    <th>Akcja</th>
                    <th>Cena</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart %}
                <tr>
                    <!-- Nazwa samochodu z linkiem do szczegółów -->
                    <td>{{ item.car_brand }} {{ item.car_model }}</a></td>
                    <td>{{ item.start_date }}</td>
                    <td>{{ item.end_date }}</td>
                    <td>
                        <form method="post" action="{% url 'orders:update_rental_days' item.car_id %}">
                            {% csrf_token %}
                            <input type="number" name="rental_days" value="{{ item.rental_days }}" min="1" />
                            <button type="submit" class="btn-update">Zaktualizuj</button>
                        </form>
                    </td>
                    <td>
                        <form method="post" action="{% url 'orders:remove_from_cart' item.car_id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn-remove">🗑️ Usuń</button>
                        </form>
                    </td>
                    <td>{{ item.total_price }} zł</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="total-price-container">
        <h3 class="total-price">Cena wynajmu łącznie: {{ total_price }} zł</h3>
    </div>

    <!-- Upiększony przycisk do podsumowania zamówienia -->
    <div class="checkout-button-container">
        <a href="{% url 'orders:checkout' %}" class="btn btn-primary btn-checkout btn-papaya-orange">Przejdź do podsumowania zamówienia</a>
    </div>

{% else %}
    <p class="empty-cart-message">Twój koszyk jest pusty.</p>
    <a href="/#poznaj-nasze-samochody" class="btn-browse">🚗 Poznaj nasze samochody</a>
{% endif %}

{% endblock %}
