{% extends 'base.html.jinja' %}

{% block content %}
<h1 style="margin-bottom: 50px;">Twój koszyk</h1>

{% if request.session.cart %}
    <div class="cart-table-wrapper">
        <table class="cart-table">
            <thead>
                <tr>
                    <th>Samochód</th>
                    <th>Data rozpoczęcia</th>
                    <th>Data zakończenia</th>
                    <th>Liczba dni</th>
                    <th>Akcja</th>
                    <th>Cena</th>
                </tr>
            </thead>
            <tbody>
                {% for item in request.session.cart %}
                <tr>
                    <td>{{ item.car_brand }} {{ item.car_model }}</td>
                    <td>{{ item.start_date }}</td>
                    <td>{{ item.end_date }}</td>
                    <td>{{ item.rental_days }}</td>
                    <td>
                        <form method="POST" action="{% url 'orders:remove_from_cart' item.car_id %}">
                            {% csrf_token %}
                            <button type="submit" class="remove-btn">Usuń</button>
                        </form>
                    </td>
                    <td>{{ item.total_price }} zł</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="checkout-button-container">
        <a href="{% url 'orders:checkout' %}" class="btn btn-primary btn-checkout btn-papaya-orange">Przejdź do podsumowania zamówienia</a>
    </div>

{% else %}
    <p class="empty-cart-message">Twój koszyk jest pusty.</p>
    <a href="{% url 'all_cars' %}" class="btn-browse">🚗 Poznaj nasze samochody</a>
{% endif %}

{% endblock %}
