
{% extends "base.html.jinja" %}

{% load static %}

{% block title %}Strona Główna{% endblock %}

{% block content %}

    <!-- Sekcja 2: Poznaj nasze samochody -->
    <section class="cars" id="poznaj-nasze-samochody">
        <h2>Poznaj nasze samochody</h2>
        <div class="car-list">
            {% for car in cars %}
                <div class="car-item">
                    <a href="{% url 'car_detail' car.id %}">
                        <img src="{{ car.image.url }}" alt="{{ car.brand }} {{ car.model }}">
                        <h3>{{ car.brand }} {{ car.model }}</h3>
                        <div class="price"><span>Miejsce odbioru:</span> {{ car.location }}</div>
                        <div class="price"><span>Rocznik:</span> {{ car.year }}</div><br>
                        <div class="price"><span>Cena wynajmu:</span> {{ car.rent }} PLN/dzień</div>
                    </a>
                </div>
            {% empty %}
                <p>Brak dostępnych samochodów w naszej bazie.</p>
            {% endfor %}
        </div>
    </section>
{% endblock %}
