{% extends "base.html.jinja" %}

{% block title %}Kategorie samochodów{% endblock %}

{% block content %}

<!-- Sekcja kategorii samochodów -->
<section class="category-container">
    <div class="category-header">
        <h2>Wybierz interesującą kategorię samochodu</h2>
    </div>
   
    <ul class="category-grid">
        {% for category in categories %}
        <li class="category-card">
            <a href="{% url 'cars:category_detail' category.0 %}">
                <div class="category-card-content">
                    <h3>{{ category.1|capfirst }}</h3>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
</section>

{% endblock %}