{% extends 'base.html.jinja' %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h2>Edytuj swój profil</h2>
                </div>
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data" action="{% url 'edit_profile' %}">
                        {% csrf_token %}

                        <!-- Edytowanie danych użytkownika -->
                        <div class="form-group">
                            <label for="first_name">Imię</label>
                            <input type="text" name="first_name" class="form-control" value="{{ user.first_name }}" required>
                        </div>

                        <div class="form-group">
                            <label for="last_name">Nazwisko</label>
                            <input type="text" name="last_name" class="form-control" value="{{ user.last_name }}" required>
                        </div>

                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" name="email" class="form-control" value="{{ user.email }}" required>
                        </div>

                        <!-- Przycisk zapisz -->
                        <button type="submit" class="btn-edit-profile">Zapisz zmiany</button>
                    </form>

                    <!-- Przycisk powrotu do profilu --><br>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
