{% extends 'base.html.jinja' %}

{% block content %}
            <div class="card shadow-sm profile-card">
                <div class="card-body">
                    <div class="user-panel-container py-5">
                        <div class="row justify-content-center">
                            <div class="col-md-8">
                                <div class="user-panel-card shadow-sm">
                                    <div class="user-panel-header text-center">
                                        <h2>Profil użytkownika: {{ user.username }}</h2>
                                    </div>
                                    <div class="user-panel-body">
                                        <ul class="user-info-list">
                                            <li><strong>Imię:</strong> {{ user.first_name }}</li>
                                            <li><strong>Nazwisko:</strong> {{ user.last_name }}</li>
                                            <li><strong>Email:</strong> {{ user.email }}</li>
                                            <li><strong>Data rejestracji:</strong> {{ user.date_joined|date:"d M Y" }}</li>
                                        </ul>
                    
                                        <div class="text-center mt-4"><br>
                                            <a href="{% url 'users:edit_profile' %}" class="btn-edit-profile-papaya">Edytuj profil</a>
                                        </div>
                    </div>
                </div>


        <!-- Zakładka Moje zamówienia -->
        <div class="col-md-8 mt-4">
            <div class="card shadow-sm">
                <div class="card-header bg-info text-white">
                    <h2>Moje zamówienia</h2>
                </div>
                <div class="card-body">
                    {% if orders %}
                    <table class="orders-table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Samochód</th>
                                <th>Liczba dni</th>
                                <th>Całkowita cena</th>
                                <th>Status</th>
                                <th>Data zamówienia</th>
                                <th>Szczegóły</th> <!-- Dodajemy kolumnę na link do szczegółów -->
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                            <tr>
                                <td>{{ order.car.brand }} {{ order.car.model }}</td>
                                <td>{{ order.rental_days }}</td>
                                <td>{{ order.total_price }} PLN</td>
                                <td>
                                    {% if order.status == 'in_progress' %}
                                        <span class="status-pending">W trakcie</span>
                                    {% elif order.status == 'paid' %}
                                        <span class="status-completed">Zapłacone</span>
                                    {% elif order.status == 'completed' %}
                                        <span class="status-completed">Zrealizowane</span>
                                    {% endif %}
                                </td>
                                <td>{{ order.order_date|date:"d M Y" }}</td>
                                <!-- Link do szczegółów zamówienia -->
                                <td><a href="{% url 'users:user_orders' order.id %}" style="color: #333; text-decoration: none;">►</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <p>Nie masz żadnych zamówień.</p>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
