{% extends 'base.html.jinja' %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm profile-card">
                <div class="card-header bg-papaya-orange text-white text-center">
                    <h2>Profil {{ user.username }}</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <!-- Kolumna z danymi użytkownika -->
                        <div class="col-md-12">
                            <div class="profile-details">
                                <p><strong>Użytkownik:</strong> {{ user.username }}</p><br>
                                <p><strong>Imię: </strong>{{ user.first_name }}<br> <strong>Nazwisko: </strong> {{ user.last_name }}</p>
                                <p><strong>Email:</strong> {{ user.email }}</p>
                                <p><strong>Data rejestracji:</strong> {{ user.date_joined|date:"d M Y" }}</p>
                            </div>

                            <!-- Link do edytowania profilu -->
                            <div class="text-center mt-4">
                                <a href="{% url 'edit_profile' %}" class="btn-edit-profile">Edytuj profil</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Zakładka Moje zamówienia -->
        <div class="col-md-8 mt-4">
            <div class="card shadow-sm">
                <div class="card-header bg-info text-white">
                    <h2>Moje zamówienia</h2>
                </div>
                <div class="card-body">
                    {% if user.orders.all %}
                    <table class="table table-profile-orders">
                            <thead>
                                <tr>
                                    <th scope="col">Samochód</th>
                                    <th scope="col">Liczba dni</th>
                                    <th scope="col">Całkowita cena</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Data zamówienia</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in user.orders.all %}
                                <tr>
                                    <td>{{ order.car }}</td>
                                    <td>{{ order.rental_days }}</td>
                                    <td>{{ order.total_price }} PLN</td>
                                    <td>
                                        {% if order.status == 'completed' %}
                                            <span class="badge bg-success">Zrealizowane</span>
                                        {% elif order.status == 'in_progress' %}
                                            <span class="badge bg-warning">W trakcie</span>
                                        {% elif order.status == 'not_completed' %}
                                            <span class="badge bg-danger">Niezrealizowane</span>
                                        {% else %}
                                            <span class="badge bg-secondary">Brak statusu</span>
                                        {% endif %}
                                    </td>
                                    <td>{{ order.rental_date }}</td> 
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>Nie masz żadnych zamówień.</p>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
